
<head>
    <h2>Home Page</h2>
</head>

<body>
    <p>@Html.ActionLink("Raw Data", "GetRawData", "Home")</p>
    <p>@Html.ActionLink("Reservation Requests", "GetReservationRequests", "Home")</p>
    <p>@Html.ActionLink("Json Reservation Requests", "GetJsonReservationRequests", "Home")</p>
</body>
